/* geral */
*{
  padding: 0;
  margin: 0;
  font-family: Georgia;
  border-radius: 5px;
}
body{
  background-color: rgb(252, 252, 248);
}

ul{
  list-style: none;
}
a, li, button{
  text-decoration: none;
  color: #444;
  transition: 0.4s;
}
button{
  background: none;
  border: none;
  font-size: 15px;
  font-weight: 500;
}
a:hover, li:hover, button:hover{
  color: #37a1f7;
}

.none{
  display: none;
}

.img.ampliada {
  /* Estilos para a imagem ampliada */
  width: 55%; /* Ocupa toda a largura do contêiner */
  height: auto; /* Mantém a proporção original da imagem */
  position:relative;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: 1;
}
/* imgs */
.img-post{
  box-shadow: 0px 2px 3px 2px #0e0d0d;
}

/* Navbar */
#navbar {
  padding: 1.5rem 2.5rem;
  border-bottom: 2px solid #000000;
  border-radius: 0;
  background-color: #fafafa;
}
/* header {
  position: sticky; 
  top: 0;
  z-index: 50; 
  background-color: rgba(245, 244, 244, 0.97); 
} 
 */
#navbar-inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
#navbar-inner h2{
  margin: auto;
  border-radius: 0;
  border-bottom: 2px solid #000;
  padding-bottom: 3px;
}
#nav-links{
  display: none;
  gap: 1rem;
}


/*  conteudo principal */
.container{
  display: flex;
  gap: 3rem;
  padding: 2rem 2.5rem;
  max-width: 1200px;
  margin: 0 auto;
}

#posts-container{
  flex: 3 1 0;
}

#post{
  margin-bottom: 2.5rem;
}

.post img{
  width: 100%;
  margin-bottom: 1rem;
}

.title,
.description,
.author{
  margin-bottom: 1rem;
}
.title{
  font-size: 2rem;
}
.author{
  color: #333;
  font-weight: bold;
}

#btnMaisFotos{
  font-size: 22px;
  border-bottom: 2px solid #000;
}
#btnMaisFotos:hover{
  border-bottom: 2px solid #37a1f7;
}
#mais-fotos:active{
  border-bottom: 2px solid #37a1f7;
}



/* Barra Lateral */

#siderbar{
  flex: 1 1 0;
}
#fotos a button{
  border-radius: 0;
  cursor: pointer;
}

#contato,
#categories,
#fotos-section,
#fotos,
#tags{
  padding: 1.5rem;
  /* border: 1px solid #ddd; */
  border: 2px solid #000000;
  margin-bottom: 1rem;
}
#contato h4,
#categories h4,
#tags h4{
  margin-bottom: 1.5rem;
  font-size: .1.6rem;
}
#contato-informacao img{
  width: 100%;
}
#categories li{
  margin-bottom: 1rem;
}
#tags-container{
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
}

#tags-container a{
  background-color: #DDD;
  padding: .5rem .7rem;
  border-radius: .3rem;
}
#title-image{
  margin-left: 75px;
}
#fotos-aparecer{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  width: 100%;
  margin: auto;
  margin-top: 0px;
  margin-bottom: 90px;
  gap: 10px;
  transition: 1s;
}
.modalImg{
  cursor: pointer;
  transition: 1s;
}



/* Rodapé */
#footer{
  border-top: 2px solid #5c5c5c;
  padding: 3rem;
  text-align: center;
  border-radius: 0;
}
#footer h2,
#footer p{
  margin-bottom: 1rem;
}

/* Responsivo */

/* moble */
@media (max-width:900px){
 
  .container{
    flex-wrap: wrap;
    flex-direction: column;
  }
  #navbar-inner{
    display: flex;
    flex-direction: column;
  }
  #navbar-inner h2{
    width: 100%;
    font-size: 17px;
    display: flex;
    flex-wrap:nowrap;
    justify-content: center;
    align-items: center;
    border-bottom: none;
  }
  #nav-links{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
  }
  #siderbar{
    width: 100%;
  }
  #nav-links{
    display: flex;
  }
  section {
    scale: 0.98;
  }
  #icon-whatsapp{
    scale: 1;
  }
  #fotos-aparecer{
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .modalImg.img{
    width:95%
    align-items: center;
    
  }
}


#fechar{
  position: absolute;
  top: 1965px;
  right: 80px;
  z-index: 80;
  font-size: 20px;
  cursor: pointer;
}


